li {
	height: 50px;
	width: 50px;
	/* background-color: yellow; */
	border: 1px solid black;
	border-radius: 10em;
	list-style: none;
	margin: 10px auto;
}

li:first-of-type {
	/* background-color: red; */
}
li:last-of-type {
	/* background-color: green; */
}

.gogo {
margin-left: 50%;
transform: translateX(-81px)
}
input {
	width: 100px;
}